.info {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 64px 32px 32px 32px;
}

.about-container {
  display: flex;
  margin: 0 auto;
  width: 100%;
  padding: 0 16px;
  max-width: 1152px;
}

.left {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin: 0 auto;
  max-width: 512px;
}

.headline {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding-bottom: 64px;
}

.Typewriter__wrapper {
  color: #ffffff;
  font-size: 40px;
  font-weight: bold;
  text-shadow: 0 0 8px black;
  padding-bottom: 10px;
  overflow: hidden;
  border-right: 0.15em solid white; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0.15em; /* Adjust as needed */
  animation: blink-caret 0.75s step-end infinite;
}

.Typewriter__cursor {
  display: none;
}

.sub {
  font-size: 22px;
  color: #ffffff;
  font-weight: bold;
  text-shadow: 0 0 8px black;
  padding-top: 16px;
}

.form {
  flex: 1;
}

.form-label {
  margin-bottom: 16px;
  font-size: 22px;
  color: #ffffff;
  font-weight: bold;
  text-shadow: 0 0 8px black;
}

span {
  color: #c0362c;
}

input {
  display: block;
  position: relative;
  background: #efefef;
  border: 2px solid #efefef;
  border-radius: 8px;
  caret-color: #c0362c;
  font-size: 18px;
  margin: 0;
  outline: none;
  padding: 8px 12px;
  width: 256px;
}

input:hover {
  background: white;
  transition: ease 0.25s;
}

input:focus {
  border: 2px solid #c0362c;
  transition: ease 0.25s;
  background: white;
  color: #c0362c;
}

.right {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.my-pic {
  width: 100%;
  margin-bottom: 64px;
}

.skills-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 100%;
  padding: 0 16px;
  max-width: 1152px;
  margin-top: 64px;
}

h1 {
  color: #ffffff;
  font-weight: bold;
  text-shadow: 0 0 8px black;
  font-size: 32px;
  padding-bottom: 48px;
}

.skills {
  display: flex;
  justify-content: space-between;
  color: #ffffff;
  font-weight: bold;
  text-shadow: 0 0 8px black;
  text-align: center;
}

.technologies-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 100%;
  padding: 0 16px;
  max-width: 1152px;
  margin-top: 64px;
}

.technologies {
  display: flex;
  justify-content: space-evenly;
  color: #ffffff;
  font-weight: bold;
  text-shadow: 0 0 8px black;
  text-align: center;
}