.contact {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 32px;
  justify-content: space-between;
  min-height: 308px;
}

.basketball {
  position: absolute;
  top: 10%;
  left: 0;
  overflow: hidden;
  position: fixed;
  min-width: 110%;
  min-height: 110%;
  flex: 1;
}

.contact-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 0 auto;
  width: 100%;
  max-width: 1152px;
  margin-top: 64px;
  position: relative;
}

.contact-container h2 {
  text-align: center;
  color: #ffffff;
  font-weight: bold;
  font-size: 32px;
  padding-bottom: 64px;
}

.contacts {
  display: flex;
  flex: 1;
  margin: 0 auto;
  width: 100%;
  animation: fadein 2s;
}

.contacts div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  padding: 32px;
}

.contacts div a {
  color: #858585;
  width: 64px;
  height: 64px;
  display: inline-flex;
  outline: none;
  background: #ffffff;
  box-shadow: 0 0 4px #858585;
  transition: all 0.25s ease;
  align-items: center;
  border-radius: 100%;
  justify-content: center;
  margin-bottom: 16px;
  align-self: center;
}

.contacts div a svg {
  width: 2em;
  height: 2em;
}

.contacts div a:hover {
  transform: scale(1.25);
  opacity: 0.5;
}

.contacts div p {
  display: flex;
  text-align: center;
  justify-content: center;
  color: #ffffff;
  font-weight: bold;
  font-size: 16px;
}

.copy {
  color: #ffffff;
  font-weight: bold;
  width: 100%;
  height: 80px;
  position: absolute;
  display: flex;
  background: transparent;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  bottom: 0;
  left: 0;
}

/* Tablet Version */

@media (max-width: 1024px) {

  .contacts div {
    padding: 16px;
  }
}

/* Mobile Version */

@media (max-width: 768px) {

  .contacts div {
    padding: 16px;
  }

  .contacts div p {
    display: none;
  }

}