.footer {
  color: #ffffff;
  width: 100%;
  height: 128px;
  display: flex;
  position: absolute;
  background: transparent;
  align-items: center;
  text-shadow: 0 0 8px black;
  flex-direction: column;
  justify-content: center;
}

.footer a {
  color: #858585;
  width: 32px;
  height: 32px;
  margin: 0 16px;
  display: inline-flex;
  outline: none;
  background: #ffffff;
  box-shadow: 0 0 4px black;
  transition: all 0.25s ease;
  align-items: center;
  border-radius: 100%;
  justify-content: center;
}
