.header {
  top: 0;
  width: 100%;
  height: 80px;
  display: flex;
  /* z-index: 1; */
  /* position: fixed; */
  background: transparent;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
  padding-left: 32px;
}

.logo a {
  display: flex;
  transition: all 0.25s ease;
  align-items: center;
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  text-shadow: 0 0 8px black;
  text-transform: uppercase;
  text-decoration: none;
}

.logo a:hover {
  opacity: 0.5;
  transform: scale(1.25);
}

.menu {
  display: none;
}

.nav {
  display: flex;
  align-items: center;
  padding-right: 32px;
}

.nav a {
  text-decoration: none;
}

.nav .page {
  color: #ffffff;
  height: 16px;
  outline: none;
  font-size: 14px;
  font-weight: bold;
  transition: all 0.25s ease;
  text-shadow: 0 0 8px black;
  text-transform: uppercase;
  padding-right: 32px;
}

.nav a:hover {
  transform: scale(1.25);
  opacity: 0.5;
}

/* Mobile 
Version 
*/

@media (max-width: 1024px) {
  .menu {
    display: flex;
    color: #ffffff;
    outline: none;
    font-size: 14px;
    font-weight: bold;
    transition: all 0.25s ease;
    text-shadow: 0 0 8px black;
    padding: 0 24px;
  }

  .page {
    display: none;
  }
}

@media (max-width: 768px) {
  .menu {
    display: flex;
    align-items: center;
  }

  .page {
    display: none;
  }
}
