.header {
  top: 0;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  background-color: black;
}

.logo {
  display: flex;
  align-items: center;
  padding-left: 32px;
}

.logo a {
  display: flex;
  transition: all 0.25s ease;
  align-items: center;
  color: #ffffff;
  font-weight: bold;
  text-transform: uppercase;
}

.logo a:hover {
  opacity: 0.5;
  transform: scale(1.25);
}

.new-nav {
  display: none;
}

.nav-item {
  display: none;
}

.menu {
  display: none;
  top: 32px;
  right: 32px;
  cursor: pointer;
  outline: none;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  transition: all 0.25s ease-in-out;
  position: absolute;
}

.nav {
  display: flex;
  align-items: center;
  padding-right: 32px;
}

.nav .page {
  color: #ffffff;
  height: 16px;
  outline: none;
  font-size: 14px;
  font-weight: bold;
  transition: all 0.25s ease;
  text-transform: uppercase;
  padding-right: 32px;
}

.nav a:hover {
  transform: scale(1.25);
  opacity: 0.5;
}

/* Tablet 
Version 
*/

@media (max-width: 1024px) {
  .new-nav {
    display: flex;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    position: fixed;
    background: black;
    flex-direction: column;
    justify-content: center;
    z-index: 99;
    animation: appear 0.5s;
  }

  .nav-item:first-child {
    border-top: 1px solid #ffffff;
  }

  .nav-item {
    color: #ffffff;
    width: 100%;
    height: 64px;
    display: block;
    outline: none;
    padding: 0 16px;
    font-size: 24px;
    text-align: center;
    transition: all .25s ease;
    font-weight: bold;
    line-height: 64px;
    border-bottom: 1px solid #ffffff;
    text-transform: uppercase;
    z-index: 99;
  }

  .nav-item:hover {
    opacity: 0.5;
    transform: scale(1.25);
  }

  .menu {
    display: flex;
    z-index: 9999;
  }

  .menu:hover {
    opacity: 0.5;
    transform: scale(1.25);
  }

  .page {
    display: none;
  }
}

/* Mobile 
Version 
*/

@media (max-width: 768px) {
  .new-nav {
    display: flex;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    position: fixed;
    background: black;
    flex-direction: column;
    justify-content: center;
    z-index: 99;
    animation: appear 0.5s;
  }

  @keyframes appear {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  .nav-item:first-child {
    border-top: 1px solid #ffffff;
  }

  .nav-item {
    color: #ffffff;
    width: 100%;
    height: 64px;
    display: block;
    outline: none;
    padding: 0 16px;
    font-size: 24px;
    text-align: center;
    transition: all .25s ease;
    font-weight: bold;
    line-height: 64px;
    border-bottom: 1px solid #ffffff;
    text-transform: uppercase;
    z-index: 99;
  }

  .nav-item:hover {
    opacity: 0.5;
    transform: scale(1.25);
  }

  .menu {
    display: flex;
    z-index: 99;
  }

  .menu:hover {
    opacity: 0.5;
    transform: scale(1.25);
  }

  .page {
    display: none;
  }
}
