.container {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
}

.main {
  height: 635px;
  margin: auto;
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
  background-color: black;
  padding-top: 32px;
}

.image {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: fadein 4s;
}

.my-pic {
  width: 35%;
  object-fit: cover;
  border-radius: 25px;
  border: 2px solid white;
}



.major {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  flex: 1;
  margin: 0 auto;
}

.Typewriter__wrapper {
  color: #ffffff;
  font-weight: 700;
  font-size: 64px;
  font-weight: bold;
  text-shadow: 0 0 8px black;
  overflow: hidden;
  white-space: nowrap;
  border-right: 0.12em solid white;
  margin: 0 auto;
  letter-spacing: 0.15em;
  animation: blink-caret 0.75s step-end infinite;
}

.Typewriter__cursor {
  display: none;
}

.arrow {
  margin-bottom: 64px;
}

.arrow:hover {
  opacity: 0.5;
  transform: scale(1.25);
}

.skills {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 100%;
  max-width: 1088px;
  padding-top: 32px;
}

.skills h1 {
  color: black;
  font-weight: bold;
  font-size: 32px;
  padding-bottom: 48px;
}

.languages {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  color: black;
  font-weight: bold;
  text-align: center;
}

.technologies-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 100%;
  padding: 0px 16px 64px 16px;
  max-width: 1088px;
}

.technologies-container h1 {
  color: black;
  font-weight: bold;
  font-size: 32px;
  padding-bottom: 48px;
}

.technologies {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  font-weight: bold;
  text-align: center;
}

.box {
  flex: 1;
  padding: 32px;
}

.technologies .box p:nth-child(2) {
  margin-bottom: 16px;
  font-size: 24px;
  font-weight: 600;
}

/* Tablet Version */

@media (max-width: 1024px) {

  .Typewriter__wrapper {
    font-size: 48px;
    max-width: 512px;
  }

  .minor {
    font-size: 32px;
    padding: 32px 32px 48px 32px;
  }

  .skills {
    padding: 16px 32px 96px 32px;
  }

  .technologies-container {
    padding: 0px 32px 64px 32px;
  }
}

/* Mobile Version */

@media (max-width: 768px) {

  .major {
    display: none;
  }

  .minor {
    font-size: 32px;
    padding: 0 32px 48px 32px;
  }

  .skills {
    text-align: center;
    padding-top: 16px;
  }

  .skills h1 {
    padding-bottom: 0;
  }

  .technologies-container {
    text-align: center;
  }

  .technologies-container h1 {
    padding-bottom: 0;
  }

}
