.main {
  min-height: 580px;
  width: 100%;
  background: transparent;
}

.container {
  width: 1024px;
  margin: auto;
}

.text {
  position: relative;
  text-align: center;
  padding-top: 256px;
}

.major {
  color: #ffffff;
  font-size: 47px;
  font-weight: bold;
  text-shadow: 0 0 8px black;
  padding-bottom: 10px;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.15em solid gold; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0.15em; /* Adjust as needed */
  animation: typing 4.5s steps(33, end), blink-caret 0.75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: gold;
  }
}

.minor {
  color: #eeeeee;
  font-size: 30px;
  text-shadow: 0 0 8px black;
}
