.container {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding-top: 144px;
  width: 100%;
  background: transparent;
}

.main {
  width: 1024px;
  margin: auto;
  position: relative;
  text-align: center;
}

.major {
  display: flex;
  text-align: center;
  justify-content: flex-end;
  flex-direction: column;
  flex: 1;
  margin: 0 auto;
}

.Typewriter__wrapper {
  color: #ffffff;
  font-weight: 700;
  font-size: 64px;
  font-weight: bold;
  text-shadow: 0 0 8px black;
  overflow: hidden;
  white-space: nowrap;
  border-right: 0.12em solid white; /* The typwriter cursor */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0.15em;
  animation: blink-caret 0.75s step-end infinite;
}

.Typewriter__cursor {
  display: none;
}

.minor {
  text-align: center;
  font-size: 32px;
  color: #eeeeee;
  font-weight: 500;
  text-shadow: 0 0 8px black;
  padding: 32px 0px 48px 0px;
}

.arrow:hover {
  fill: #c0362c;
}

.about {
  display: flex;
  margin: 0 auto;
  width: 100%;
  max-width: 1088px;
  padding: 224px 16px 64px 16px;
}

.left {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin: 0 auto;
  max-width: 512px;
  padding-top: 64px;
}

.form {
  flex: 1;
}

.form h1 {
  color: #ffffff;
  font-weight: bold;
  text-shadow: 0 0 8px black;
  font-size: 32px;
  padding-bottom: 32px;
}

.form-label {
  margin-bottom: 16px;
  font-size: 22px;
  color: #ffffff;
  font-weight: 500;
  text-shadow: 0 0 6px black;
}

.form-label span {
  color: #c0362c;
}

.form input {
  display: block;
  position: relative;
  background: #efefef;
  border: 2px solid #efefef;
  border-radius: 8px;
  caret-color: #c0362c;
  font-size: 18px;
  margin: 0;
  outline: none;
  padding: 8px 12px;
  width: 256px;
}

input:hover {
  background: white;
  transition: ease 0.25s;
}

input:focus {
  border: 2px solid #c0362c;
  transition: ease 0.25s;
  background: white;
  color: #c0362c;
}

.sub {
  color: #ffffff;
  text-shadow: 0 0 6px black;
  padding-bottom: 64px;
}

.sub .redlogo {
  width: 50%;
  object-fit: cover;
  margin-left: -8px;
  display: flex;
}

.sub .maclogo {
  width: 40%;
  object-fit: cover;
  margin-left: -16px;
  display: flex;
}

.sub h2 {
  font-size: 32px;
  padding-bottom: 32px;
  font-weight: 700;
  padding-top: 64px;
}

.sub p {
  font-size: 22px;
  font-weight: 500;
}

.sub p:nth-child(5) {
  margin-top: -40px;
}

.right {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  animation: fadein 2s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.my-pic {
  width: 90%;
  object-fit: cover;
}

.skills {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 100%;
  padding: 0px 16px 96px 16px;
  max-width: 1088px;
}

.skills h1 {
  color: #ffffff;
  font-weight: bold;
  text-shadow: 0 0 8px black;
  font-size: 32px;
  padding-bottom: 48px;
}

.languages {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  color: black;
  font-weight: bold;
  text-align: center;
}

.technologies-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 100%;
  padding: 0px 16px 64px 16px;
  max-width: 1088px;
}

.technologies-container h1 {
  color: #ffffff;
  font-weight: bold;
  text-shadow: 0 0 8px black;
  font-size: 32px;
  padding-bottom: 48px;
}

.technologies {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  font-weight: bold;
  text-align: center;
}

.box {
  flex: 1;
  padding: 32px;
}

.technologies .box p:nth-child(2) {
  margin-bottom: 16px;
  font-size: 24px;
  font-weight: 600;
}

/* Tablet Version */

@media (max-width: 1024px) {
  .main {
    max-width: 512px;
  }

  .Typewriter__wrapper {
    font-size: 48px;
    max-width: 512px;
  }

  .minor {
    font-size: 24px;
  }
}

/* Mobile Version */

@media (max-width: 768px) {
  .main {
    max-width: 256px;
  }

  .major {
    display: none;
  }

  .minor {
    font-size: 24px;
    padding-top: 0;
  }

  .about {
    display: block;
  }

  .left {
    padding-top: 32px;
    text-align: center;
  }

  .form input {
    margin: 0 auto;
  }

  .sub {
    text-align: center;
  }

  .sub .redlogo {
    display: block;
    margin: 0 auto;
    width: 50%;
  }

  .sub .maclogo {
    display: block;
    margin: 0 auto;
    width: 50%;
  }

  .skills {
    text-align: center;
  }

  .skills h1 {
    padding-bottom: 0;
  }

  /* .languages {
    flex-flow: row wrap;
  } */

  .technologies-container {
    text-align: center;
  }

  .technologies-container h1 {
    padding-bottom: 0;
  }

  /* .technologies {
    display: block;
  } */
}
