* {
  box-sizing: border-box;
}

body {
  line-height: 1.5;
  font-family: "Quicksand", sans-serif;
  margin: 0;
  background-color: black;
}

a {
  text-decoration: none;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
