.projects {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 32px;
}

.projects .title {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-left: 48px;
  padding-top: 32px;
}

.projects .title h2 {
  color: #ffffff;
  font-size: 32px;
  font-weight: bold;
  text-shadow: 0 0 8px black;
}

.carousel {
  display: flex;
  flex-direction: column;
  max-width: 1088px;
  margin: 0 auto;
}

.swiper-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 auto;
  max-width: 1152px;
  width: 100%;
  height: 528px;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.swiper-button-next:after {
  color: #c0362c;
}

.swiper-button-prev:after {
  color: #c0362c;
}

.swiper-pagination .swiper-pagination-bullet-active {
  background: #c0362c;
}

.repo-images {
  display: flex;
  align-items: center;
  flex: 1;
  width: 60%;
  margin: 0 auto;
}

.repo-images .aloha-desktop {
  width: 100%;
}

.repo-images .insta-desktop {
  width: 100%;
}

.repo-images .aloha-tablet {
  width: 40%;
  margin-left: -172px;
  margin-top: 80px;
}

.repo-images .aloha-mobile {
  width: 25%;
  margin-left: -280px;
  margin-top: 144px;
}

.repo-images .insta-tablet {
  width: 40%;
  margin-left: -172px;
  margin-top: 80px;
}

.repo-images .insta-mobile {
  width: 25%;
  margin-left: -280px;
  margin-top: 144px;
}

.repo-images .desktop {
  width: 100%;
  margin-left: 70px;
  margin-top: 32px;
}

.repo-info {
  display: flex;
  flex: 1;
  flex-direction: column;
  color: #ffffff;
  font-size: 32px;
  font-weight: 700;
  text-shadow: 0 0 8px black;
  animation: fadein 2s;
  margin-left: 80px;
  margin-top: -160px;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.repo-info h1 {
  color: #c0362c;
  font-size: 32px;
}

.repo-info p {
  font-size: 22px;
  padding-right: 64px;
}

.repo-info p a {
  text-decoration: none;
  color: #ffffff;
}

.repo-info p a span {
  color: #c0362c;
}

.projects-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 100%;
  max-width: 1152px;
  padding-top: 64px;
}

.projects-container h1 {
  font-size: 24px;
  padding: 32px 0;
}

.projects-container h1 a {
  text-decoration: none;
  color: #c0362c;
}

.repo-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 24px;
  font-size: 22px;
  color: #ffffff;
  font-weight: bold;
}

.repo-list .repo-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  width: 100%;
  height: 100%;
  padding: 32px;
  text-align: center;
  background: #ffffff;
  border-radius: 12px;
}

.repo-list .caption {
  display: flex;
  flex-direction: column;
}

.repo-container .caption p {
  padding-top: 16px;
  color: black;
  font-size: 16px;
}

.repo-container li span {
  color: #c0362c;
  font-weight: 700;
  font-size: 22px;
}

.repo-container .caption p span {
  color: #ffffff;
  font-weight: 700;
  text-shadow: 0 0 6px black;
}

.repo-container .caption p a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 700;
  text-shadow: 0 0 6px black;
}

/* Tablet Version */

@media (max-width: 1024px) {

  .swiper-pagination {
    margin-bottom: 64px;
  }

  .repo-info {
    margin-top: 0;
  }

  .repo-images .aloha-desktop {
    margin-left: 32px;
  }

  .repo-images .aloha-tablet {
    margin-left: -128px;
  }
  
  .repo-images .aloha-mobile {
    margin-left: -192px;
    margin-top: 128px;
  }

  .repo-images .insta-desktop {
    margin-left: 32px;
  }
  
  .repo-images .insta-tablet {
    margin-left: -128px;
  }
  
  .repo-images .insta-mobile {
    margin-left: -192px;
    margin-top: 128px;
  }

  .projects .title {
    justify-content: center;
  }

  .projects .title h2 {
    text-align: center;
  }

  .projects .title p {
    text-align: center;
  }

  .carousel {
    max-width: 768px;
  }

  .projects-container {
    margin-top: -96px;
  }

  .repo-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Mobile Version */

@media (max-width: 768px) {

  .projects .title {
    padding-top: 32px;
  } 

  .swiper-slide {
    align-items: flex-start;
  }

  .swiper-button-next:after {
    margin-top: -256px;
  }

  .swiper-button-prev:after {
    margin-top: -256px;
  }

  .swiper-pagination {
    margin-bottom: 208px;
  }

  .repo-info {
    display: none;
  }

  .repo-images .desktop {
    width: 80%;
    margin-left: 48px;
  }

  .repo-images .aloha-desktop {
    width: 80%;
  }

  .repo-images .aloha-tablet {
    width: 35%;
    margin-left: -128px;
    margin-top: 64px;
  }

  .repo-images .aloha-mobile {
    width: 20%;
    margin-left: -160px;
    margin-top: 112px;
  }

  .repo-images .insta-desktop {
    width: 80%;
  }

  .repo-images .insta-tablet {
    width: 35%;
    margin-left: -128px;
    margin-top: 64px;  
  }

  .repo-images .insta-mobile {
    width: 20%;
    margin-left: -160px;
    margin-top: 112px;
  }

  .projects-container {
    padding-top: 32px;
    margin-top: -224px;
  }

  .projects .title {
    justify-content: center;
  }

  .projects .title h2 {
    text-align: center;
  }

  .projects .title p {
    text-align: center;
  }

  .carousel {
    max-width: 384px;
  }

  .repo-list {
    grid-template-columns: 1fr;
  }
}
