.resume-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 128px 32px 32px 32px;
}

.resume {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 100%;
  max-width: 1152px;
}
