.resume-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 80px 0;
}

.resume {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  max-width: 1152px;
}

.resume p {
  flex: 1;
  font-size: 48px;
  text-align: center;
  font-weight: 500;
  color: #ffffff;
  text-shadow: 0 0 8px black;
  padding: 32px;
}

.resume p a {
  color: #c0362c;
}

.resume-pic {
  animation: fadein 1s;
}


/* Tablet Version */

@media (max-width: 1024px) {

  .resume p {
    text-align: center;
  }
  
}

/* Mobile Version */

@media (max-width: 768px) {

  .resume p {
    text-align: center;
  }

  .resume-pic {
    display: none;
  }
}
